In [15]:
#!pip install psycopg2-binary

In [185]:
import networkx as nx
import pandas as pd
import psycopg2
import os

import igraph as ig
import json
from networkx.readwrite import json_graph

from __future__  import print_function  # Python 2/3 compatibility

from gremlin_python import statics
from gremlin_python.structure.graph import Graph
from gremlin_python.process.graph_traversal import __
from gremlin_python.process.strategies import *
from gremlin_python.driver.driver_remote_connection import DriverRemoteConnection

from gremlin_python.process.traversal import T
from gremlin_python.process.traversal import Cardinality

In [441]:
# Add DB Passwords (Previously added)
%env USERNAME=rdspgadm
%env DBPW=mgt-prd-infr-rds-uscis-cluster-0.cargfitmjuj5.us-east-1.rds.amazonaws.com:5432/?Action=connect&DBUser=rdspgadm&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAR6U6C7MDCT6YTEXM%2F20220331%2Fus-east-1%2Frds-db%2Faws4_request&X-Amz-Date=20220331T192603Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=ab5c6e681489baab7ac5b9550d413c0c673a44edb2f7dbe17bf0eda8f339df30
#%env DBNAME="DB Name"

env: USERNAME=rdspgadm
env: DBPW=mgt-prd-infr-rds-uscis-cluster-0.cargfitmjuj5.us-east-1.rds.amazonaws.com:5432/?Action=connect&DBUser=rdspgadm&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAR6U6C7MDCT6YTEXM%2F20220331%2Fus-east-1%2Frds-db%2Faws4_request&X-Amz-Date=20220331T192603Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=ab5c6e681489baab7ac5b9550d413c0c673a44edb2f7dbe17bf0eda8f339df30

In [442]:


sql_conn = psycopg2.connect(user = os.environ['USERNAME'], 
                            password = os.environ['DBPW'],
                            host = "mgt-prd-infr-rds-uscis-cluster-0.cargfitmjuj5.us-east-1.rds.amazonaws.com",
                            database = "postgres")

In [443]:
query = 'select * from CNCC_0621_hashed_2012 UNION ALL select * from CNCC_0621_hashed_2013 UNION ALL select * from CNCC_0621_hashed_2014 UNION ALL select * from CNCC_0621_hashed_2015 UNION ALL select * from CNCC_0621_hashed_2016 UNION ALL select * from CNCC_0621_hashed_2017 UNION ALL select * from CNCC_0621_hashed_2018 UNION ALL select * from CNCC_0621_hashed_2019 UNION ALL select * from CNCC_0621_hashed_2020 UNION ALL select * from CNCC_0621_hashed_2021 UNION ALL select * from CNHU_0621_hashed_2019 UNION ALL select * from CNHU_0621_hashed_2020 UNION ALL select * from CNHU_0621_hashed_2021'


df = pd.read_sql(query, sql_conn)

In [444]:
sql_conn.close()

In [445]:
df.head()

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,account_language,tweet_language,tweet_text,tweet_time,tweet_client_name,in_reply_to_userid,in_reply_to_tweetid,quoted_tweet_tweetid,is_retweet,retweet_userid,retweet_tweetid,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions
0,214403315306467328,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,admin ngerasa gajelas dan radak sinting kalau ...,2012-06-17 17:05,web,,,,False,,,absent,absent,0,1,0,2,['TorTorPunyaIndonesia'],,[]
1,214395611011751936,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,#TorTorPunyaIndonesia RT bagi yang SINGLE !,2012-06-17 16:34,web,,,,False,,,absent,absent,0,1,0,5,['TorTorPunyaIndonesia'],,[]
2,210577869167009792,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,"kalau share foto, mereka kan hari ini nggak sh...",2012-06-07 03:44,web,,,,False,,,absent,absent,0,3,0,0,,,[]
3,212101044409344000,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,gimana kalau sekarang kita #SharePict #HanyaKa...,2012-06-11 08:36,web,,,,False,,,absent,absent,0,8,1,1,"['SharePict', 'HanyaKamu']",,[]
4,216622481308528640,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,RYP arrive sur MineBox'Radio !,2012-06-23 20:03,web,,,,False,,,absent,absent,0,0,0,0,,,[]

In [446]:
# Pull out Target accounts
df['to'] = df.tweet_text.str.findall(r'@\w+').apply(', '.join)

In [447]:
df.head(20)

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,account_language,tweet_language,tweet_text,tweet_time,tweet_client_name,in_reply_to_userid,in_reply_to_tweetid,quoted_tweet_tweetid,is_retweet,retweet_userid,retweet_tweetid,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,to
0,214403315306467328,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,admin ngerasa gajelas dan radak sinting kalau ...,2012-06-17 17:05,web,,,,False,,,absent,absent,0,1,0,2,['TorTorPunyaIndonesia'],,[],
1,214395611011751936,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,#TorTorPunyaIndonesia RT bagi yang SINGLE !,2012-06-17 16:34,web,,,,False,,,absent,absent,0,1,0,5,['TorTorPunyaIndonesia'],,[],
2,210577869167009792,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,"kalau share foto, mereka kan hari ini nggak sh...",2012-06-07 03:44,web,,,,False,,,absent,absent,0,3,0,0,,,[],
3,212101044409344000,593758713,.,chaoticeveel,,,,74572,23,2012-05-29,zh-cn,,gimana kalau sekarang kita #SharePict #HanyaKa...,2012-06-11 08:36,web,,,,False,,,absent,absent,0,8,1,1,"['SharePict', 'HanyaKamu']",,[],
4,216622481308528640,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,RYP arrive sur MineBox'Radio !,2012-06-23 20:03,web,,,,False,,,absent,absent,0,0,0,0,,,[],
5,236904627084328960,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,On fais des canulars sur la radio :),2012-08-18 19:17,web,,,,False,,,absent,absent,0,4,0,0,,,[],
6,231117909047513089,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,Le live sccp avec RYP et kas se fera ici pour ...,2012-08-02 20:02,web,,,,False,,,absent,absent,0,0,0,0,,['http://fr.twitch.tv/rypinpeace'],[],
7,242304999852503040,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,Merci à @Diapason38 pour mon superba avatar &l...,2012-09-02 16:56,web,,,,False,,,absent,absent,0,1,0,1,,"['http://puu.sh/11lih', 'http://puu.sh/11lic']",['525087078'],@Diapason38
8,191223938263695362,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,La libre antenne c'est à 21h sur MineBox'Radio !,2012-04-14 17:58,web,,,,False,,,absent,absent,0,0,0,0,,,[],
9,255039204885663746,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,fr,Demain c'est mon anniv aussi :) Yeah !,2012-10-07 20:17,web,,,,False,,,absent,absent,0,4,0,3,[],[],[],
10,189789053699375104,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,fr,Quelques problème avec la connexion ce soir .....,2012-04-10 18:56,web,,,,False,,,absent,absent,0,0,0,0,[],[],[],
11,264302354826919936,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,LA question : Quel est le lieu de RDV que Bilo...,2012-11-02 09:46,web,,,,False,,,absent,absent,0,0,0,0,,,[],
12,219165087829737472,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,Migration des DNS de --&gt; http://t.co/64u9Qr...,2012-06-30 20:26,web,,,,False,,,absent,absent,0,1,0,0,,['http://play.mineboxradio.fr'],[],
13,278227559584518146,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,Encore 150 Likeurs pour https://t.co/xiR6Sj5u ...,2012-12-10 19:59,web,,,,False,,,absent,absent,0,0,0,0,,['https://www.facebook.com/MineBoxRadio'],[],
14,238977863884349440,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,#FF @SkillnezFR car .. on attends 22h35 ^^,2012-08-24 12:35,web,,,,False,,,absent,absent,0,1,0,0,['FF'],,['354837466'],@SkillnezFR
15,208574410918072320,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,SPOIL ==&gt; API MBR -&gt; 1/3 http://t.co/rpK...,2012-06-01 15:03,web,,,,False,,,absent,absent,0,0,0,0,,,[],
16,196994476118515714,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,"Ce soir, retrouvez le présente ton serveur !",2012-04-30 16:08,web,,,,False,,,absent,absent,0,0,0,0,,,[],
17,208236471075868674,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,@TheFantasio974 Tu es la ? J'aimerais savoir s...,2012-05-31 16:40,web,164722226,,,False,,,absent,absent,0,2,0,0,,,['164722226'],@TheFantasio974
18,238589659767242753,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,Comment vous allez aujourd'hui ? :),2012-08-23 10:53,web,,,,False,,,absent,absent,0,10,0,0,,,[],
19,193818471434432512,468721219,MineBoxRadio,MinBoxRadio,France FR,On était numéro 1,https://t.co/mG5MdTEZqB,7902,42,2012-01-19,zh-cn,,200.000 auditeurs uniques sur le mois d'avril/...,2012-04-21 21:48,web,,,,False,,,absent,absent,0,2,0,5,,,[],

In [523]:
def splitter(s):
    spl = s.split(", ")
    return spl

df_new = pd.DataFrame(df["to"].apply(splitter).to_list())
df_melt = pd.concat([df, df_new], axis=1)

In [524]:
df_melt.columns

Index([                 'tweetid',                   'userid',
              'user_display_name',         'user_screen_name',
         'user_reported_location', 'user_profile_description',
               'user_profile_url',           'follower_count',
                'following_count',    'account_creation_date',
               'account_language',           'tweet_language',
                     'tweet_text',               'tweet_time',
              'tweet_client_name',       'in_reply_to_userid',
            'in_reply_to_tweetid',     'quoted_tweet_tweetid',
                     'is_retweet',           'retweet_userid',
                'retweet_tweetid',                 'latitude',
                      'longitude',              'quote_count',
                    'reply_count',               'like_count',
                  'retweet_count',                 'hashtags',
                           'urls',            'user_mentions',
                             'to',                          0,
                                1,                          2,
                                3,                          4,
                                5,                          6,
                                7,                          8,
                                9,                         10,
                               11,                         12,
                               13,                         14,
                               15,                         16,
                               17,                         18,
                               19,                         20,
                               21,                         22,
                               23],
      dtype='object')

In [525]:
cols = df_melt.columns.tolist()
indices = range(0,30)
id_cols = [cols[i] for i in indices]
v_indices = range(31,len(cols))
value_vars = [cols[i] for i in v_indices]

In [526]:
df_melt_long = df_melt.melt(id_vars=id_cols, value_vars=value_vars, var_name="remove", value_name='to', ignore_index=True)
df_melt_long = df_melt_long[df_melt_long ['to'] != ""]
df_melt_long = df_melt_long[df_melt_long ['to'] != None]
df_melt_long = df_melt_long[df_melt_long ['to'].notnull()]
df_melt_long = df_melt_long.drop(['remove'], axis=1)

<ipython-input-526-907c3bb9c217>:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df_melt_long = df_melt.melt(id_vars=id_cols, value_vars=value_vars, var_name="remove", value_name='to', ignore_index=True)

In [527]:
df_melt_long_sub = df_melt_long[['user_screen_name', 'to']]

In [528]:
df_melt_long_sub[df_melt_long_sub.columns] = df_melt_long_sub.apply(lambda x: x.str.strip())

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [529]:
df_melt_long_sub['user_screen_name'] = "@" + df_melt_long_sub['user_screen_name']

<ipython-input-529-7b5bc8f20eba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melt_long_sub['user_screen_name'] = "@" + df_melt_long_sub['user_screen_name']

In [530]:
df_melt_long_sub.head()

   user_screen_name               to
7      @MinBoxRadio      @Diapason38
14     @MinBoxRadio      @SkillnezFR
17     @MinBoxRadio  @TheFantasio974
20     @MinBoxRadio  @Thefantasio974
25     @MinBoxRadio   @davidangeloni

In [531]:
df_melt_long_sub_group = df_melt_long_sub.groupby(by=["user_screen_name", "to"], dropna=False, as_index=False).size().sort_values(by=['size'], ascending = False)

In [532]:
df_melt_long_sub_group.head()

      user_screen_name                                           to  size
4700      @MinBoxRadio  @U3hfsFsKrJy6YKuHWgHNKWvlBPxue3aRSS8kGXZDtI  2247
3843      @MinBoxRadio                                     @Lokoise   713
12296      @seo_yea_ji                                    @jaeuckim   455
4986      @MinBoxRadio                                   @caaptusss   352
12545      @seo_yea_ji                                 @seoyejiintl   284

In [533]:
df_melt_long_sub_group.reset_index(drop=True, inplace=True)

In [534]:
df_melt_long_sub_group.reset_index(inplace=True)

In [535]:
df_melt_long_sub_group.columns

Index(['index', 'user_screen_name', 'to', 'size'], dtype='object')

In [536]:
df_melt_long_sub_group['index'] = "e" + df_melt_long_sub_group['index'].astype('str')

In [537]:
df_melt_long_sub_group.head()

  index user_screen_name                                           to  size
0    e0     @MinBoxRadio  @U3hfsFsKrJy6YKuHWgHNKWvlBPxue3aRSS8kGXZDtI  2247
1    e1     @MinBoxRadio                                     @Lokoise   713
2    e2      @seo_yea_ji                                    @jaeuckim   455
3    e3     @MinBoxRadio                                   @caaptusss   352
4    e4      @seo_yea_ji                                 @seoyejiintl   284

In [543]:
nodes = df_melt_long_sub_group['user_screen_name'].append(df_melt_long_sub_group['to']).drop_duplicates().to_frame()

In [544]:
nodes.reset_index(drop=True, inplace=True)

In [545]:
nodes.reset_index(inplace=True)

In [546]:
nodes = nodes.rename(columns={'index': 'id', 0: 'screen_name'})

In [547]:
nodes['entity_type'] = "Tweeter"

In [548]:
nodes

        id                                   screen_name entity_type
0        0                                  @MinBoxRadio     Tweeter
1        1                                   @seo_yea_ji     Tweeter
2        2                                 @chaoticeveel     Tweeter
3        3  @W3nqgg9kF5cfJXT8h8oJUoVr0HESA5mQ2Lczs6hH+A=     Tweeter
4        4                                   @ericaasenn     Tweeter
...    ...                                           ...         ...
8034  8034                                   @RomonaSpry     Tweeter
8035  8035                                 @RuchiVarma17     Tweeter
8036  8036                                  @WorldImage4     Tweeter
8037  8037                              @Y9uzmStRCvsESsw     Tweeter
8038  8038                              @Yp0dm7A2XfhMwiZ     Tweeter

[8039 rows x 3 columns]

In [549]:
nodes['id'] = nodes['id']+1

In [550]:
nodes['id'] = nodes['id'].astype('str')

In [551]:
df_melt_long_sub_group_ids = pd.merge(df_melt_long_sub_group, nodes, how = "left", left_on = ["user_screen_name"], right_on=["screen_name"])

In [552]:
df_melt_long_sub_group_ids = pd.merge(df_melt_long_sub_group_ids, nodes, how = "left", left_on = ["to"], right_on=["screen_name"])

In [553]:
df_melt_long_sub_group_ids

,index,user_screen_name,to,size,id_x,screen_name_x,entity_type_x,id_y,screen_name_y,entity_type_y
0,e0,@MinBoxRadio,@U3hfsFsKrJy6YKuHWgHNKWvlBPxue3aRSS8kGXZDtI,2247,1,@MinBoxRadio,Tweeter,1337,@U3hfsFsKrJy6YKuHWgHNKWvlBPxue3aRSS8kGXZDtI,Tweeter
1,e1,@MinBoxRadio,@Lokoise,713,1,@MinBoxRadio,Tweeter,1338,@Lokoise,Tweeter
2,e2,@seo_yea_ji,@jaeuckim,455,2,@seo_yea_ji,Tweeter,1339,@jaeuckim,Tweeter
3,e3,@MinBoxRadio,@caaptusss,352,1,@MinBoxRadio,Tweeter,1340,@caaptusss,Tweeter
4,e4,@seo_yea_ji,@seoyejiintl,284,2,@seo_yea_ji,Tweeter,1341,@seoyejiintl,Tweeter
...,...,...,...,...,...,...,...,...,...,...
13766,e13766,@Naturephoto17,@RuchiVarma17,1,72,@Naturephoto17,Tweeter,8036,@RuchiVarma17,Tweeter
13767,e13767,@Naturephoto17,@WorldImage4,1,72,@Naturephoto17,Tweeter,8037,@WorldImage4,Tweeter
13768,e13768,@Naturephoto17,@Y9uzmStRCvsESsw,1,72,@Naturephoto17,Tweeter,8038,@Y9uzmStRCvsESsw,Tweeter
13769,e13769,@Naturephoto17,@Yp0dm7A2XfhMwiZ,1,72,@Naturephoto17,Tweeter,8039,@Yp0dm7A2XfhMwiZ,Tweeter
13770,e13770,@zy8JFUHHdsznoSc2IRCA7DF6ihyH4Ye54T1tA7fj4=,@xiwzwb,1,98,@zy8JFUHHdsznoSc2IRCA7DF6ihyH4Ye54T1tA7fj4=,Tweeter,2428,@xiwzwb,Tweeter

In [554]:
df_melt_long_sub_group_ids = df_melt_long_sub_group_ids[['index','id_x','id_y','size']]

In [555]:
df_melt_long_sub_group_ids = df_melt_long_sub_group_ids .rename(columns={'index': 'id', 'id_x': 'from', 'id_y':'to', 'size':'weight'})

In [556]:
df_melt_long_sub_group_ids['edge_type'] = "mentioned_by"

In [558]:
edges = df_melt_long_sub_group_ids

In [640]:
edges['from'] = edges['from'].astype("str")
edges['to'] = edges['to'].astype("str")

In [656]:
edges['weight'] = (edges['weight'] - edges['weight'].min()) / (edges['weight'].max() - edges['weight'].min())

In [658]:
edges.head()

   id from    to    weight     edge_type
0  e0    1  1337  1.000000  mentioned_by
1  e1    1  1338  0.317008  mentioned_by
2  e2    2  1339  0.202137  mentioned_by
3  e3    1  1340  0.156278  mentioned_by
4  e4    2  1341  0.126002  mentioned_by

# Add Edges and Nodes to Neptune Graph

In [480]:
# Necessary to avoid Cannot run the event loop while another loop is running error
import nest_asyncio
nest_asyncio.apply()

In [672]:
graph = Graph()

remoteConn = DriverRemoteConnection('ws://mgt-prd-infr-neptune-alb-122161610.us-east-1.elb.amazonaws.com:8182/gremlin','g')
g = graph.traversal().withRemote(remoteConn)

Reset from previous

In [649]:
g.V().drop().iterate()

[['V'], ['drop'], ['none'], ['values', '_ipython_canary_method_should_not_exist_'], ['values', '_ipython_canary_method_should_not_exist_']]

In [650]:
g.E().drop().iterate()

[['E'], ['drop'], ['none'], ['values', '_ipython_canary_method_should_not_exist_'], ['values', '_ipython_canary_method_should_not_exist_']]

In [651]:
g.V().count().next()

0

In [652]:
g.E().count().next()

0

Add Nodes

In [ ]:
id = T.id
single = Cardinality.single

In [660]:
for i in range(0,len(nodes)):
    g.addV(nodes['entity_type'][i]).property(id, nodes['id'][i]). \
    property('screen_name', nodes['screen_name'][i]). \
    next()

Add Edges

In [673]:
for i in range(0,len(edges)):
    g.V().has(id, edges['to'][i]).\
    as_('v').V().has(id,edges['from'][i]).coalesce(
    __.inE(edges['edge_type'][i]).where(__.outV().as_('v')), 
    __.addE(edges['edge_type'][i]).property(id, edges['id'][i]).from_('v').\
    property('weight',edges['weight'][i])).iterate()

Check on process success

In [674]:
g.V().count().next()

8039

In [675]:
g.V().limit(10).elementMap().toList()

[{<T.id: 1>: '1', <T.label: 4>: 'Tweeter', 'screen_name': '@MinBoxRadio'},
 {<T.id: 1>: '2', <T.label: 4>: 'Tweeter', 'screen_name': '@seo_yea_ji'},
 {<T.id: 1>: '3', <T.label: 4>: 'Tweeter', 'screen_name': '@chaoticeveel'},
 {<T.id: 1>: '4',
  <T.label: 4>: 'Tweeter',
  'screen_name': '@W3nqgg9kF5cfJXT8h8oJUoVr0HESA5mQ2Lczs6hH+A='},
 {<T.id: 1>: '5', <T.label: 4>: 'Tweeter', 'screen_name': '@ericaasenn'},
 {<T.id: 1>: '6',
  <T.label: 4>: 'Tweeter',
  'screen_name': '@wYAI5R+eNDpVzrSo4AWUQDjqMrbf8NLC6GIXsyQnguQ='},
 {<T.id: 1>: '7',
  <T.label: 4>: 'Tweeter',
  'screen_name': '@lv+8t8UxrdgLvTvgoBZr+8e8EY0Up5HQXialKMyk0AA='},
 {<T.id: 1>: '8',
  <T.label: 4>: 'Tweeter',
  'screen_name': '@S9cPTH41ImrjlwTuoXU+QQAE26Le2AuvNSHVPYbaeB8='},
 {<T.id: 1>: '9',
  <T.label: 4>: 'Tweeter',
  'screen_name': '@SxKbKHva5HsYXg2FzExxSRinSHKeSWcXKJgDqfecChQ='},
 {<T.id: 1>: '10',
  <T.label: 4>: 'Tweeter',
  'screen_name': '@vPcewFa94VjpJjM0dLao1Wy6UHImepOW6GvEjfhm2tg='}]

In [676]:
g.E().count().next()

13771

In [677]:
g.E().limit(10).elementMap().toList()

[{<T.id: 1>: 'e14',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '1', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1351', <T.label: 4>: 'Tweeter'},
  'weight': 0.06812110418521816},
 {<T.id: 1>: 'e30',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '1', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1367', <T.label: 4>: 'Tweeter'},
  'weight': 0.04674977738201247},
 {<T.id: 1>: 'e46',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '1', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1383', <T.label: 4>: 'Tweeter'},
  'weight': 0.03873552983081033},
 {<T.id: 1>: 'e62',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '1', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1399', <T.label: 4>: 'Tweeter'},
  'weight': 0.033392698130008905},
 {<T.id: 1>: 'e78',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '1', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1415', <T.label: 4>: 'Tweeter'},
  'weight': 0.028495102404274265},
 {<T.id: 1>: 'e94',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '2', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1431', <T.label: 4>: 'Tweeter'},
  'weight': 0.025823686553873553},
 {<T.id: 1>: 'e110',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '2', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1447', <T.label: 4>: 'Tweeter'},
  'weight': 0.02404274265360641},
 {<T.id: 1>: 'e126',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '2', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1463', <T.label: 4>: 'Tweeter'},
  'weight': 0.019590382902938557},
 {<T.id: 1>: 'e142',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '2', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1479', <T.label: 4>: 'Tweeter'},
  'weight': 0.017809439002671415},
 {<T.id: 1>: 'e158',
  <T.label: 4>: 'mentioned_by',
  <Direction.IN: 2>: {<T.id: 1>: '4', <T.label: 4>: 'Tweeter'},
  <Direction.OUT: 3>: {<T.id: 1>: '1495', <T.label: 4>: 'Tweeter'},
  'weight': 0.015583259127337488}]